In [1]:
import collections
import inspect

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('ggplot')

import graphiclog
from graphiclog import utils, io

In [39]:
transforms = {c : utils.string2array for c in ['depth_m', 'grain_size_mm']}

beds = pd.read_csv('../data/AllBedsWithProfiles.csv', converters=transforms)
beds.head()

,name,count,collection,eod,eodnum,tops,th,gs_tops_mm,snd_shl,mean_gs_mm,max_gs_mm,ng,ar,depth_m,grain_size_mm
0,Marnoso 1,1,Marnoso-Arenacea,basin plain,0,22.81684,0.31082,0.115051,1.0,0.116073,0.117046,0.520514,0.021978,"[22.8168, 22.703, 22.5337, 22.506]","[0.1151, 0.1157, 0.117, 0.117]"
1,Marnoso 1,1,Marnoso-Arenacea,basin plain,0,22.50602,0.60931,0.001000,0.0,0.001000,0.001000,0.520514,0.021978,"[22.506, 21.8967]","[0.001, 0.001]"
2,Marnoso 1,1,Marnoso-Arenacea,basin plain,0,21.89671,0.10463,0.125380,1.0,0.125380,0.125380,0.520514,0.021978,"[21.8967, 21.7921]","[0.1254, 0.1254]"
3,Marnoso 1,1,Marnoso-Arenacea,basin plain,0,21.79208,0.11694,0.001000,0.0,0.001000,0.001000,0.520514,0.021978,"[21.7921, 21.6751]","[0.001, 0.001]"
4,Marnoso 1,1,Marnoso-Arenacea,basin plain,0,21.67514,0.13232,0.134306,1.0,0.150073,0.160420,0.520514,0.021978,"[21.6751, 21.6351, 21.5674, 21.5428]","[0.1343, 0.1447, 0.1604, 0.1604]"

In [13]:
beds[beds.gs_tops_mm.isnull()].th.sum()

1331.0010378194631

In [14]:
beds[beds.snd_shl.isnull()].th.sum()

1348.2524256812137

In [19]:
beds.snd_shl.value_counts()

1.0    28765
0.0    27253
Name: snd_shl, dtype: int64

In [22]:
beds[beds.snd_shl == 1].th.sum()

12735.29191211368

In [23]:
beds[beds.snd_shl == 0].th.sum()

5652.595944427258

In [17]:
2**-8, 2**-4

(0.00390625, 0.0625)

In [36]:
count = {eod : 0 for eod in beds.eod.unique()}
meters = {eod : 0 for eod in beds.eod.unique()}

for _, grp in beds.groupby('count'):
    count[grp['eod'].values[0]] += 1
    meters[grp['eod'].values[0]] += grp.th.sum()
    
avgs = {k : meters[k] / count[k] for k in count.keys()}

In [37]:
avgs

{'basin plain': 27.07570545450642,
 'fan': 33.39089495971464,
 'levee': 15.039543988376764,
 'slopechannel': 80.6872487607637}

In [38]:
beds.th.mean()

0.346765181098518

In [6]:
weird = {problem : [] for problem in ['has_null', 'th_mismatch', 'samples_mismatch']}

for name, seq in beds.groupby('count'):
    
    if seq.isnull().any().any():
        weird['has_null'].append(name)
    
    _, elev_good = io.check_thicknesses(seq, 'tops', 'th', 'elevation')
    _, depth_good = io.check_thicknesses(seq, 'tops', 'th', 'depth')
    if not (elev_good or depth_good):
        weird['th_mismatch'].append(name)
        
    if not io.check_samples(seq, 'depth_m', 'grain_size_mm'):
        weird['samples_mismatch'].append(name)
        
weird, {k : len(v) for k, v in weird.items()}

/home/administrator/code/python/graphiclog/graphiclog/io.py:158: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[basecol] = bases

({'has_null': [12,
   17,
   18,
   24,
   25,
   32,
   36,
   43,
   47,
   51,
   52,
   54,
   55,
   56,
   57,
   58,
   63,
   71,
   75,
   76,
   85,
   86,
   106,
   108,
   115,
   123,
   124,
   139,
   146,
   148,
   149,
   150,
   152,
   155,
   157,
   161,
   163,
   176,
   179,
   180,
   182,
   183,
   184,
   185,
   186,
   190,
   214,
   224,
   227,
   229,
   230,
   233,
   234,
   236,
   237,
   238,
   239,
   240,
   250,
   269,
   275,
   276,
   277,
   284,
   285,
   286,
   288,
   289,
   290,
   292,
   293,
   295,
   296,
   297,
   299,
   300,
   301,
   302,
   303,
   305,
   306,
   309,
   310,
   311,
   313,
   314,
   315,
   317,
   318,
   319,
   320,
   321,
   323,
   324,
   325,
   326,
   327,
   328,
   329,
   331,
   332,
   333,
   334,
   335,
   336,
   340,
   348,
   385,
   388,
   403,
   408,
   409,
   412,
   413,
   419,
   421,
   429,
   430,
   440,
   442,
   447,
   448,
   451,
   453,
   454],
  'th_mismatch': [67],
  'samples_mismatch': []},
 {'has_null': 125, 'th_mismatch': 1, 'samples_mismatch': 0})

In [7]:
beds[beds.depth_m.apply(utils.safelen) != beds.grain_size_mm.apply(utils.safelen)]

Empty DataFrame
Columns: [name, count, collection, eod, eodnum, tops, th, gs_tops_mm, snd_shl, mean_gs_mm, max_gs_mm, ng, ar, depth_m, grain_size_mm]
Index: []

In [8]:
weird, {k : len(v) for k, v in weird.items()}

({'has_null': [12,
   17,
   18,
   24,
   25,
   32,
   36,
   43,
   47,
   51,
   52,
   54,
   55,
   56,
   57,
   58,
   63,
   71,
   75,
   76,
   85,
   86,
   106,
   108,
   115,
   123,
   124,
   139,
   146,
   148,
   149,
   150,
   152,
   155,
   157,
   161,
   163,
   176,
   179,
   180,
   182,
   183,
   184,
   185,
   186,
   190,
   214,
   224,
   227,
   229,
   230,
   233,
   234,
   236,
   237,
   238,
   239,
   240,
   250,
   269,
   275,
   276,
   277,
   284,
   285,
   286,
   288,
   289,
   290,
   292,
   293,
   295,
   296,
   297,
   299,
   300,
   301,
   302,
   303,
   305,
   306,
   309,
   310,
   311,
   313,
   314,
   315,
   317,
   318,
   319,
   320,
   321,
   323,
   324,
   325,
   326,
   327,
   328,
   329,
   331,
   332,
   333,
   334,
   335,
   336,
   340,
   348,
   385,
   388,
   403,
   408,
   409,
   412,
   413,
   419,
   421,
   429,
   430,
   440,
   442,
   447,
   448,
   451,
   453,
   454],
  'th_mismatch': [67],
  'samples_mismatch': []},
 {'has_null': 125, 'th_mismatch': 1, 'samples_mismatch': 0})

In [9]:
for name in weird['th_mismatch']:
    seq = beds[beds.name == name]
    print(name)
    print(seq[['tops', 'th']])

67
Empty DataFrame
Columns: [tops, th]
Index: []

In [10]:
magellan = beds[beds['count'] == 67]
magellan['depth_size'] = magellan.depth_m.apply(utils.safelen)
magellan['gs_size'] = magellan.grain_size_mm.apply(utils.safelen)
magellan

/home/administrator/anaconda3/envs/core-dev/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/administrator/anaconda3/envs/core-dev/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,name,count,collection,eod,eodnum,tops,th,gs_tops_mm,snd_shl,mean_gs_mm,max_gs_mm,ng,ar,depth_m,grain_size_mm,depth_size,gs_size
3379,Magellan 1320A,67,Gulf of Mexico,basin plain,0,0.00000,2.16803,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[0.0, 2.168]","[0.001, 0.001]",2,2
3380,Magellan 1320A,67,Gulf of Mexico,basin plain,0,2.26382,0.37711,0.009893,0.0,0.009893,0.009893,0.284765,0.025316,"[2.2638, 2.6409]","[0.0099, 0.0099]",2,2
3381,Magellan 1320A,67,Gulf of Mexico,basin plain,0,2.64093,3.34637,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[2.6409, 5.9873]","[0.001, 0.001]",2,2
3382,Magellan 1320A,67,Gulf of Mexico,basin plain,0,5.98730,1.22544,0.009467,0.0,0.009467,0.009467,0.284765,0.025316,"[5.9873, 7.2127]","[0.0095, 0.0095]",2,2
3383,Magellan 1320A,67,Gulf of Mexico,basin plain,0,7.21274,7.35263,0.123396,1.0,0.123396,0.123396,0.284765,0.025316,"[7.2127, 14.5654]","[0.1234, 0.1234]",2,2
3384,Magellan 1320A,67,Gulf of Mexico,basin plain,0,14.56537,0.32992,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[14.5654, 14.8953]","[0.001, 0.001]",2,2
3385,Magellan 1320A,67,Gulf of Mexico,basin plain,0,14.89529,0.47126,0.124883,1.0,0.124883,0.124883,0.284765,0.025316,"[14.8953, 15.3666]","[0.1249, 0.1249]",2,2
3386,Magellan 1320A,67,Gulf of Mexico,basin plain,0,15.36655,0.28280,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[15.3666, 15.6494]","[0.001, 0.001]",2,2
3387,Magellan 1320A,67,Gulf of Mexico,basin plain,0,15.64935,0.42423,0.123396,1.0,0.123396,0.123396,0.284765,0.025316,"[15.6494, 16.0736]","[0.1234, 0.1234]",2,2
3388,Magellan 1320A,67,Gulf of Mexico,basin plain,0,16.07358,0.32992,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[16.0736, 16.4035]","[0.001, 0.001]",2,2
3389,Magellan 1320A,67,Gulf of Mexico,basin plain,0,16.40350,1.79102,0.121926,1.0,0.121926,0.121926,0.284765,0.025316,"[16.4035, 18.1945]","[0.1219, 0.1219]",2,2
3390,Magellan 1320A,67,Gulf of Mexico,basin plain,0,18.19452,0.56555,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[18.1945, 18.7601]","[0.001, 0.001]",2,2
3391,Magellan 1320A,67,Gulf of Mexico,basin plain,0,18.76007,1.08405,0.121926,1.0,0.121926,0.121926,0.284765,0.025316,"[18.7601, 19.8441]","[0.1219, 0.1219]",2,2
3392,Magellan 1320A,67,Gulf of Mexico,basin plain,0,19.84412,1.97958,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[19.8441, 21.8237]","[0.001, 0.001]",2,2
3393,Magellan 1320A,67,Gulf of Mexico,basin plain,0,21.82370,0.65985,0.123396,1.0,0.123396,0.123396,0.284765,0.025316,"[21.8237, 22.4836]","[0.1234, 0.1234]",2,2
3394,Magellan 1320A,67,Gulf of Mexico,basin plain,0,22.48355,0.61267,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[22.4836, 23.0962]","[0.001, 0.001]",2,2
3395,Magellan 1320A,67,Gulf of Mexico,basin plain,0,23.09622,2.40378,0.123396,1.0,0.123396,0.123396,0.284765,0.025316,"[23.0962, 25.5]","[0.1234, 0.1234]",2,2
3396,Magellan 1320A,67,Gulf of Mexico,basin plain,0,25.50000,1.27258,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[25.5, 26.7726]","[0.001, 0.001]",2,2
3397,Magellan 1320A,67,Gulf of Mexico,basin plain,0,26.77258,0.42420,0.124883,1.0,0.124883,0.124883,0.284765,0.025316,"[26.7726, 27.1968]","[0.1249, 0.1249]",2,2
3398,Magellan 1320A,67,Gulf of Mexico,basin plain,0,27.19678,11.07599,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[27.1968, 38.2728]","[0.001, 0.001]",2,2
3399,Magellan 1320A,67,Gulf of Mexico,basin plain,0,38.27277,4.19476,0.009126,0.0,0.009126,0.009126,0.284765,0.025316,"[38.2728, 42.4675]","[0.0091, 0.0091]",2,2
3400,Magellan 1320A,67,Gulf of Mexico,basin plain,0,42.46753,5.60879,0.121926,1.0,0.121926,0.121926,0.284765,0.025316,"[42.4675, 48.0763]","[0.1219, 0.1219]",2,2
3401,Magellan 1320A,67,Gulf of Mexico,basin plain,0,48.07632,1.55535,0.010187,0.0,0.010187,0.010187,0.284765,0.025316,"[48.0763, 49.6317]","[0.0102, 0.0102]",2,2
3402,Magellan 1320A,67,Gulf of Mexico,basin plain,0,49.63167,3.72346,0.123396,1.0,0.123396,0.123396,0.284765,0.025316,"[49.6317, 53.3551]","[0.1234, 0.1234]",2,2
3403,Magellan 1320A,67,Gulf of Mexico,basin plain,0,53.35513,1.69669,0.009126,0.0,0.009126,0.009126,0.284765,0.025316,"[53.3551, 55.0518]","[0.0091, 0.0091]",2,2
3404,Magellan 1320A,67,Gulf of Mexico,basin plain,0,55.05182,1.36684,0.123396,1.0,0.123396,0.123396,0.284765,0.025316,"[55.0518, 56.4187]","[0.1234, 0.1234]",2,2
3405,Magellan 1320A,67,Gulf of Mexico,basin plain,0,56.41866,0.75416,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[56.4187, 57.1728]","[0.001, 0.001]",2,2
3406,Magellan 1320A,67,Gulf of Mexico,basin plain,0,57.17282,0.51840,0.123396,1.0,0.123396,0.123396,0.284765,0.025316,"[57.1728, 57.6912]","[0.1234, 0.1234]",2,2
3407,Magellan 1320A,67,Gulf of Mexico,basin plain,0,57.69122,1.69683,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[57.6912, 59.388]","[0.001, 0.001]",2,2
3408,Magellan 1320A,67,Gulf of Mexico,basin plain,0,59.38805,0.47131,0.124883,1.0,0.124883,0.124883,0.284765,0.025316,"[59.388, 59.8594]","[0.1249, 0.1249]",2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3427,Magellan 1320A,67,Gulf of Mexico,basin plain,0,100.44008,3.81775,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[100.4401, 104.2578]","[0.001, 0.001]",2,2
3428,Magellan 1320A,67,Gulf of Mexico,basin plain,0,104.25783,2.54509,0.121926,1.0,0.121926,0.121926,0.284765,0.025316,"[104.2578, 106.8029]","[0.1219, 0.1219]",2,2
3429,Magellan 1320A,67,Gulf of Mexico,basin plain,0,106.80292,1.13116,0.120474,1.0,0.120474,0.120474,0.284765,0.025316,"[106.8029, 107.9341]","[0.1205, 0.1205]",2,2
3430,Magellan 1320A,67,Gulf of Mexico,basin plain,0,107.93408,3.29927,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[107.9341, 111.2334]","[0.001, 0.001]",2,2
3431,Magellan 1320A,67,Gulf of Mexico,basin plain,0,111.23335,1.08400,0.123396,1.0,0.123396,0.123396,0.284765,0.025316,"[111.2334, 112.3174]","[0.1234, 0.1234]",2,2
3432,Magellan 1320A,67,Gulf of Mexico,basin plain,0,112.31735,12.81995,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[112.3174, 125.1373]","[0.001, 0.001]",2,2
3433,Magellan 1320A,67,Gulf of Mexico,basin plain,0,125.13730,1.03692,0.009261,0.0,0.009261,0.009261,0.284765,0.025316,"[125.1373, 126.1742]","[0.0093, 0.0093]",2,2
3434,Magellan 1320A,67,Gulf of Mexico,basin plain,0,126.17422,6.78702,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[126.1742, 132.9612]","[0.001, 0.001]",2,2
3435,Magellan 1320A,67,Gulf of Mexico,basin plain,0,132.96124,0.70699,0.123396,1.0,0.123396,0.123396,0.284765,0.025316,"[132.9612, 133.6682]","[0.1234, 0.1234]",2,2
3436,Magellan 1320A,67,Gulf of Mexico,basin plain,0,133.66823,2.68652,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[133.6682, 136.3547]","[0.001, 0.001]",2,2
3437,Magellan 1320A,67,Gulf of Mexico,basin plain,0,136.35475,1.03691,0.124883,1.0,0.124883,0.124883,0.284765,0.025316,"[136.3547, 137.3917]","[0.1249, 0.1249]",2,2
3438,Magellan 1320A,67,Gulf of Mexico,basin plain,0,137.39166,5.27880,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[137.3917, 142.6705]","[0.001, 0.001]",2,2
3439,Magellan 1320A,67,Gulf of Mexico,basin plain,0,142.67046,0.80123,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[142.6705, 143.4717]","[0.001, 0.001]",2,2
3440,Magellan 1320A,67,Gulf of Mexico,basin plain,0,143.47169,8.43668,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[143.4717, 151.9084]","[0.001, 0.001]",2,2
3441,Magellan 1320A,67,Gulf of Mexico,basin plain,0,151.90837,0.70700,0.009329,0.0,0.009329,0.009329,0.284765,0.025316,"[151.9084, 152.6154]","[0.0093, 0.0093]",2,2
3442,Magellan 1320A,67,Gulf of Mexico,basin plain,0,152.61537,1.60246,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[152.6154, 154.2178]","[0.001, 0.001]",2,2
3443,Magellan 1320A,67,Gulf of Mexico,basin plain,0,154.21783,0.84839,0.009261,0.0,0.009261,0.009261,0.284765,0.025316,"[154.2178, 155.0662]","[0.0093, 0.0093]",2,2
3444,Magellan 1320A,67,Gulf of Mexico,basin plain,0,155.06622,1.36682,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[155.0662, 156.433]","[0.001, 0.001]",2,2
3445,Magellan 1320A,67,Gulf of Mexico,basin plain,0,156.43304,0.32993,0.009329,0.0,0.009329,0.009329,0.284765,0.025316,"[156.433, 156.763]","[0.0093, 0.0093]",2,2
3446,Magellan 1320A,67,Gulf of Mexico,basin plain,0,156.76297,0.56558,0.124883,1.0,0.124883,0.124883,0.284765,0.025316,"[156.763, 157.3286]","[0.1249, 0.1249]",2,2
3447,Magellan 1320A,67,Gulf of Mexico,basin plain,0,157.32855,7.39975,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[157.3286, 164.7283]","[0.001, 0.001]",2,2
3448,Magellan 1320A,67,Gulf of Mexico,basin plain,0,164.72830,0.61275,0.123396,1.0,0.123396,0.123396,0.284765,0.025316,"[164.7283, 165.341]","[0.1234, 0.1234]",2,2
3449,Magellan 1320A,67,Gulf of Mexico,basin plain,0,165.34105,3.29922,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[165.341, 168.6403]","[0.001, 0.001]",2,2
3450,Magellan 1320A,67,Gulf of Mexico,basin plain,0,168.64027,1.27257,0.124883,1.0,0.124883,0.124883,0.284765,0.025316,"[168.6403, 169.9128]","[0.1249, 0.1249]",2,2
3451,Magellan 1320A,67,Gulf of Mexico,basin plain,0,169.91284,1.88529,0.009329,0.0,0.009329,0.009329,0.284765,0.025316,"[169.9128, 171.7981]","[0.0093, 0.0093]",2,2
3452,Magellan 1320A,67,Gulf of Mexico,basin plain,0,171.79813,1.03689,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[171.7981, 172.835]","[0.001, 0.001]",2,2
3453,Magellan 1320A,67,Gulf of Mexico,basin plain,0,172.83502,1.41397,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[172.835, 174.249]","[0.001, 0.001]",2,2
3454,Magellan 1320A,67,Gulf of Mexico,basin plain,0,174.24899,1.36684,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[174.249, 175.6158]","[0.001, 0.001]",2,2
3455,Magellan 1320A,67,Gulf of Mexico,basin plain,0,175.61583,1.22545,0.009261,0.0,0.009261,0.009261,0.284765,0.025316,"[175.6158, 176.8413]","[0.0093, 0.0093]",2,2
3456,Magellan 1320A,67,Gulf of Mexico,basin plain,0,176.84128,23.35872,0.001000,0.0,0.001000,0.001000,0.284765,0.025316,"[176.8413, 200.2]","[0.001, 0.001]",2,2

In [11]:
#beds['grain_size_psi'] = beds['grain_size_mm'].apply(graphiclog.wentworth.gs2psi)
#beds['mean_gs_psi'] = beds['mean_gs_mm'].apply(graphiclog.wentworth.gs2psi)

weird = {}


for i, row in beds.iterrows():
    len_ds = len(row['depth_m'])
    len_gs = len(row['grain_size_psi'])
    
    if len_ds != len_gs:
        if len_ds > 0:
            print(f'Weird row: {row}')
        else:
            beds.at[i, 'depth_m'] = np.array([row['tops'], beds.at[i+1, 'tops']])

beds

KeyError: 'grain_size_psi'

In [ ]:
beds['mean_gs_psi'].isna().any()

In [ ]:
seqs = []

bad_names = []

for i, (name, grp) in enumerate(beds.groupby('name')):
    if grp['mean_gs_psi'].isna().any():
        bad_names.append(name)
        continue
    
    bedseq = graphiclog.BedSequence.from_dataframe(grp, topcol='tops', thickcol='th',
                                         component_map=graphiclog.defaults.DEFAULT_COMPONENT_MAP,
                                         datacols=['th', 'mean_gs_psi', 'depth_m', 'grain_size_psi'],
                                         metacols=['name', 'collection', 'eod', 'eodnum'], eps=1e-2)
    
    seqs.append(bedseq)

In [ ]:
bad_names

In [ ]:
def match_metacol(seqs, value, metacol='eodnum'):
    return list(filter(lambda s: s.metadata[metacol] == value, seqs))

eod0 = match_metacol(seqs, 0)
eod1 = match_metacol(seqs, 1)
eod2 = match_metacol(seqs, 2)
eod3 = match_metacol(seqs, 3)

[len(e) for e in [eod0, eod1, eod2, eod3]]

In [ ]:
import random

for i, seqs in enumerate([eod0, eod1, eod2, eod3]):
    selected = random.sample(seqs, 10)
    fig, axes = plt.subplots(ncols=10, figsize=(70, 30))
    for ax, seq in zip(axes, seqs):
        #seq.resample_data('depth_m', 0.01)
        seq.plot(legend=graphiclog.defaults.litholegend, width_field='grain_size_psi', depth_field='depth_m', ax=ax)
    
    plt.show()

In [ ]:
eod0[1].metadata

In [ ]:
x = beds[beds.name == 'Magellan 1320A']
x #[x.th.between(2.1, 2.2)]