In [5]:
import pandas as pd
import numpy as np

In [17]:
# create dataframe
df = pd.DataFrame(np.zeros((4,7)),columns=['name','float1','list1','blank','int1','array1', 'tuple1'])

# make sure all types are objects
df = df.astype('object') 

# modify cells

df['name'][0] = 'test1'
df['name'][1] = 'test2'
df['name'][2] = 'test3'
df['name'][3] = 'test4'

df['float1'][0] = np.float(1.1)
df['float1'][1] = np.float(2.1)
df['float1'][2] = np.float(3)
df['float1'][3] = np.float(4)

df['list1'][0]=[1.1,2.2,3.3]
df['list1'][1] = [2*x for x in df['list1'][0]] # list comprehension
df['list1'][2] = [2*x for x in df['list1'][1]]
df['list1'][3] = [2*x for x in df['list1'][2]]

# d is left blank to see what it looks like

df['int1'][0]=np.int(0)
df['int1'][1]=np.int(1)
df['int1'][2]=np.int(2)
df['int1'][3]=np.int(0)

z=[1.1,2.2,3.3]
df['array1'][0]=np.array(z)
df['array1'][1] = 2*df['array1'][0]
df['array1'][2] = 2*df['array1'][1]
df['array1'][3] = 2*df['array1'][2]

z = (1.1, 2.2, 3.3)
for i in range(4):
    df['tuple1'][i] = tuple(2*i*x for x in z)

# %% export to csv
df.to_csv('testT.csv')

# %% re-import to see if it works
df2 = pd.read_csv('testT.csv')
df2

,Unnamed: 0,name,float1,list1,blank,int1,array1,tuple1
0,0,test1,1.1,"[1.1, 2.2, 3.3]",0.0,0,[1.1 2.2 3.3],"(0.0, 0.0, 0.0)"
1,1,test2,2.1,"[2.2, 4.4, 6.6]",0.0,1,[2.2 4.4 6.6],"(2.2, 4.4, 6.6)"
2,2,test3,3.0,"[4.4, 8.8, 13.2]",0.0,2,[ 4.4 8.8 13.2],"(4.4, 8.8, 13.2)"
3,3,test4,4.0,"[8.8, 17.6, 26.4]",0.0,0,[ 8.8 17.6 26.4],"(6.6000000000000005, 13.200000000000001, 19.79..."

In [30]:
df2.list1.apply(lambda s: [float(x) for x in s[1:-1].split(', ')])

0      [1.1, 2.2, 3.3]
1      [2.2, 4.4, 6.6]
2     [4.4, 8.8, 13.2]
3    [8.8, 17.6, 26.4]
Name: list1, dtype: object

In [29]:
df2.array1.apply(lambda s: np.fromstring(s[1:-1], sep=' '))

0      [1.1, 2.2, 3.3]
1      [2.2, 4.4, 6.6]
2     [4.4, 8.8, 13.2]
3    [8.8, 17.6, 26.4]
Name: array1, dtype: object

In [34]:
s = '[string _ here]'

'string _ here'